{% extends "myapp/layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById("update-form");
            const info = document.getElementById("avion-info");
            const button = document.getElementById("update-button");
            button.onclick = () => {
                if (form.style.display == "none") {
                    form.style.setProperty("display", "block");
                    info.style.setProperty("display", "none");
                    button.innerHTML = "Annuler";
                } else {
                    form.style.setProperty("display", "none");
                    info.style.setProperty("display", "block");
                    button.innerHTML = "Modifier";
                }
            }
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Avion ID: {{avion.pk}} 
        {%if avion.est_interdit%}
        <span style="color: crimson">INTERDIT</span>{%endif%}</h1>
    <div id="avion-info">
        <p>Type: {{avion.type_avion}}</p>
        <p>Date mise en service: {{avion.date_mise_service}}</p>
        <p>Heures de Vol: {{avion.heures_vol}}</p>
        <p>Heures de Vol dès dérnière révision: {{avion.heures_vol_der_rev}}</p>
        <p>Date de la dérnière révision: {{avion.date_der_rev}}</p>
    </div>

    <form style="display: none;" id="update-form" action="{% url 'avion_view' avion.pk %}" method="post">
        {% csrf_token %}
        {{ updateForm }}
        <input type="submit" value="Modifier avion">
    </form>

    <button id="update-button">Modifier avion</button>
    <form method="post" action="{% url 'avion_view' avion.pk %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Supprimer" />
    </form>
{% endblock %}