{% extends "myapp/layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const createForm = document.getElementById('create-avion-form');
            const createFormButton = document.getElementById('create-avion-button');
            createFormButton.onclick = () => {
                if (createForm.style.display === "none") {
                    createForm.style.display = "grid";
                    createFormButton.innerHTML = "ANNULER";
                } else {
                    createForm.style.display = "none";
                    createFormButton.innerHTML = '<i class="fas fa-plus"></i> AJOUTER';
                }
            }

            const filterForm = document.getElementById('filter-form');
            const filterButton = document.getElementById('filter-button');
            filterButton.onclick = () => {
                if (filterForm.style.display === "none") {
                    filterForm.style.display = "grid";
                    filterButton.innerHTML = "MASQUER";
                } else {
                    filterForm.style.display = "none";
                    filterButton.innerHTML = "<i class='fas fa-filter'></i> FILTRER";
                }
            }
        });
    </script>    
{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="content-container">
            <!-- Buttons Container -->
            <div class="btn-container">
                <button class="btn btn-add bright-btn" id="create-avion-button">
                    <i class="fas fa-plus"></i> AJOUTER
                </button>
                <button class="btn btn-filter" id="filter-button">
                    <i class="fas fa-filter"></i> FILTRER
                </button>
            </div>
            
            <!-- Ajouter Avion Form -->
            <div class="form-style" id="create-avion-form" style="display: none;">
                <form method="post" action="{% url 'avion' %}">
                    {% csrf_token %}
                    {{ createForm.as_p }}
                    <button class="bright-btn" type="submit">AJOUTER</button>
                </form>
            </div>
            
            <!-- Filtrer Avion Form -->
            <div class="form-style" id="filter-form" style="display: none;">
                <form method="get">
                    {% csrf_token %}
                    {{ filter.form.as_p }}
                    <button class="bright-btn" type="submit">APPLIQUER</button>
                </form>
            </div>
    
            <div class="table-container">
                <table class="invoice-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Date Mise En Service</th>
                            <th>Heures de vol</th>
                            <th>Heures de vol dés dernière révision</th>
                            <th>Date de la dernière révision</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for avion in filter.qs %}
                            <tr class="fade-in {%if avion.est_interdit%}interdit{%endif%}"
                                id="avion-info-{{ avion.id }}" onclick="window.location.href='/avion/{{ avion.id }}';" style="cursor: pointer;">
                                <td>{{ avion.id }}</td>
                                <td>{{ avion.type_avion }}</td>
                                <td>{{ avion.date_mise_service }}</td>
                                <td>{{ avion.heures_vol }}</td>
                                <td>{{ avion.heures_vol_der_rev }}</td>
                                <td>{{ avion.date_der_rev }}</td>
                                <td>
                                    <div class="actions">
                                        <form method="post" action="{% url 'avion_view' avion.pk %}" style="display:inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" value="Supprimer" class="action-icon">🗑️</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}