{% extends "myapp/layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById("update-form");
            const info = document.getElementById("employe-navigant-info");
            const button = document.getElementById("update-button");
            button.onclick = () => {
                if (form.style.display == "none") {
                    form.style.setProperty("display", "block");
                    info.style.setProperty("display", "none");
                    button.innerHTML = "Annuler";
                } else {
                    form.style.setProperty("display", "none");
                    info.style.setProperty("display", "block");
                    button.innerHTML = "Modifier";
                }
            }
        })
    </script>
{% endblock %}

{% block body %}
    <h1>Employé Navigant ID: {{ employe_navigant.employe__pk }}</h1>
    <div id="employe-navigant-info">
        <p>Employé: {{ employe_navigant.employe.pk }}</p>
        <p>Avions:</p>
        <ul>
            {% for avion in employe_navigant.avions.all %}
                <li>{{ avion.pk }}</li>
            {% endfor %}
        </ul>
        <p>Heures de vol: {{ employe_navigant.heures_vol }}</p>
        <p>Heures de vol par moins: {{ employe_navigant.heures_mois_vol }}</p>

    </div>

    <form style="display: none;" id="update-form" action="{% url 'employe_navigant_view' employe_navigant.employe__pk %}" method="post">
        {% csrf_token %}
        {{ updateForm }}
        <input type="submit" value="Modifier">
    </form>

    <button id="update-button">Modifier</button>
    <form method="post" action="{% url 'employe_navigant_view' employe_navigant.employe__pk %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Supprimer" />
    </form>
{% endblock %}
