{% extends "myapp/layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const createForm = document.getElementById('create-employe-navigant-form');
            const createFormButton = document.getElementById('create-employe-navigant-button');
            createFormButton.onclick = () => {
                if (createForm.style.display == "none") {
                    createForm.style.setProperty("display", "block");
                    createFormButton.innerHTML = "Annuler";
                } else {
                    createForm.style.setProperty("display", "none");
                    createFormButton.innerHTML = "Ajouter un employé navigant";
                }
            }
        })
    </script>
{% endblock %}

{% block body %}
    <form style="display: none;" id="create-employe-navigant-form" action="{% url 'employe_navigant' %}" method="post">
        {% csrf_token %}
        {{ createForm }}
        <input type="submit" value="Ajouter">
    </form>
    <button id="create-employe-navigant-button">Ajouter un employé navigant</button>

    <h1>Liste des employés navigants</h1>
    <table>
        <tr>
            <th>TD</th>
            <th>Avions</th>
            <th>Heures de vol</th>
            <th>Heures de vol M</th>
        </tr>
        {% for employe_navigant in employe_navigants %}
            <tr id="employe-navigant-info-{{ employe_navigant.employe__pk }}" onclick="window.location.href='/employe_navigant/{{ employe_navigant.employe__pk }}';" style="cursor: pointer;">
                <td>{{ employe_navigant.employe__pk }}</td>
                <td>
                    {% for avion in employe_navigant.avions.all %}
                        {{ avion.pk }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ employe_navigant.heures_vol }}</td>
                <td>{{ employe_navigant.heures_mois_vol }}</td>

                <td><form style="display: inline;" method="post" action="{% url 'employe_navigant_view' employe_navigant.employe__pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Supprimer" />
                </form></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
