{% extends "myapp/layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById("update-form");
            const info = document.getElementById("employe-info");
            const button = document.getElementById("update-button");
            button.onclick = () => {
                if (form.style.display == "none") {
                    form.style.setProperty("display", "block");
                    info.style.setProperty("display", "none");
                    button.innerHTML = "Annuler";
                } else {
                    form.style.setProperty("display", "none");
                    info.style.setProperty("display", "block");
                    button.innerHTML = "Modifier";
                }
            }
            const navigantForm = document.getElementById("update-navigant-form");
            const navigantInfo = document.getElementById("employe-navigant-info");
            const navigantButton = document.getElementById("update-navigant-button");
            navigantButton.onclick = () => {
                if (navigantForm.style.display == "none") {
                    navigantForm.style.setProperty("display", "block");
                    navigantInfo.style.setProperty("display", "none");
                    navigantButton.innerHTML = "Annuler";
                } else {
                    navigantForm.style.setProperty("display", "none");
                    navigantInfo.style.setProperty("display", "block");
                    navigantButton.innerHTML = "Modifier";
                }
            }
        })
    </script>
{% endblock %}

{% block body %}
    <h1>Employé ID: {{ employe.id }}</h1>
    <div id="employe-info">
        <p>Nom: {{ employe.nom }}</p>
        <p>Prénom: {{ employe.prenom }}</p>
        <p>Fonction: {{ employe.fonction }}</p>
        <p>Téléphone: {{ employe.phone_number }}</p>
        <p>Salaire: {{ employe.salaire }}</p>
    </div>

    <form style="display: none;" id="update-form" action="{% url 'employe_view' employe.id %}" method="post">
        {% csrf_token %}
        {{ updateForm }}
        <input type="submit" value="Modifier">
    </form>

    <button id="update-button">Modifier</button>
    <form method="post" action="{% url 'employe_view' employe.id %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Supprimer" />
    </form>
    {% if employe.is_navigant and employe_navigant %}
        <h1>Info du navigation:</h1>
        <div id="employe-navigant-info">
            {% if employe_navigant.avions %}
            <p>Avions:</p>
            <ul>
                {% for avion in employe_navigant.avions.all %}
                    <li>{{ avion }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Cet employé n'est actuellement inscrit sur aucun équipage</p>
            {% endif %}
            <p>Heures de vol: {{ employe_navigant.heures_vol }}</p>
            <p>Heures de vol par mois: {{ employe_navigant.heures_mois_vol }}</p>

        </div>

        <form style="display: none;" id="update-navigant-form" action="{% url 'employe_navigant_view' employe.pk %}" method="post">
            {% csrf_token %}
            {{ updateNavigantForm }}
            <input type="submit" value="Modifier">
        </form>

        <button id="update-navigant-button">Modifier</button>
    {% endif %}
{% endblock %}