{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}myapp{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <div class="container nav-container">
                <a href="{% url 'index' %}" class="logo">
                    <div class="logo-icon"></div>
                    JetPass
                </a>
                <div class="nav-links">
                    <a href="{% url 'vol' %}" class="nav-link">Vol</a>
                    <a href="{% url 'avion' %}" class="nav-link">Avion</a>
                    <a href="{% url 'rapport' %}" class="nav-link">Rapport</a>
                    <a href="{% url 'employe' %}" class="nav-link">Employe</a>
                    <a href="{% url 'ville' %}" class="nav-link">Ville</a>
                    <a href="{% url 'login' %}" class="cta-button">Lancez-vous</a>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        <script src="{% static 'myapp/index.js' %}"></script>
    </body>
</html>
