{% extends "myapp/layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById("update-form");
            const info = document.getElementById("rapport-info");
            const button = document.getElementById("update-button");
            button.onclick = () => {
                if (form.style.display == "none") {
                    form.style.setProperty("display", "block");
                    info.style.setProperty("display", "none");
                    button.innerHTML = "Annuler";
                } else {
                    form.style.setProperty("display", "none");
                    info.style.setProperty("display", "block");
                    button.innerHTML = "Modifier";
                }
            }
        })
    </script>
{% endblock %}

{% block body %}
    <h1>Rapport ID: {{ rapport.id }}</h1>
    <div id="rapport-info">
        <p>Avion: {{ rapport.avion.pk }}</p>
        <p>Date: {{ rapport.date }}</p>
        <p>Heures de vol: {{ rapport.heures_vol }}</p>
        <p>Texte: {{ rapport.texte }}</p>
    </div>

    <form style="display: none;" id="update-form" action="{% url 'rapport_view' rapport.id %}" method="post">
        {% csrf_token %}
        {{ updateForm }}
        <input type="submit" value="Modifier">
    </form>

    <button id="update-button">Modifier</button>
    <form method="post" action="{% url 'rapport_view' rapport.id %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Supprimer" />
    </form>
{% endblock %}
