{% extends "myapp/layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const createForm = document.getElementById('create-ville-form');
            const createFormButton = document.getElementById('create-ville-button');
            createFormButton.onclick = () => {
                if (createForm.style.display === "none") {
                    createForm.style.display = "grid";
                    createFormButton.innerHTML = "ANNULER";
                } else {
                    createForm.style.display = "none";
                    createFormButton.innerHTML = '<i class="fas fa-plus"></i> AJOUTER';
                }
            }

            const filterForm = document.getElementById('filter-form');
            const filterButton = document.getElementById('filter-button');
            filterButton.onclick = () => {
                if (filterForm.style.display === "none") {
                    filterForm.style.display = "grid";
                    filterButton.innerHTML = "MASQUER";
                } else {
                    filterForm.style.display = "none";
                    filterButton.innerHTML = "<i class='fas fa-filter'></i> FILTRER";
                }
            }
        });
    </script>    
{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="content-container">
            <!-- Buttons Container -->
            <div class="btn-container">
                <button class="btn btn-add bright-btn" id="create-ville-button">
                    <i class="fas fa-plus"></i> AJOUTER
                </button>
                <button class="btn btn-filter" id="filter-button">
                    <i class="fas fa-filter"></i> FILTRER
                </button>
            </div>
            
            <!-- Ajouter Ville Form-->
            <div class="form-style" id="create-ville-form" style="display: none;">
                <form method="post">
                    {% csrf_token %}
                    {{ createForm.as_p }}
                    <button class="bright-btn" type="submit">AJOUTER</button>
                </form>
            </div>
            
            <!-- Filter Ville Form-->
            <div class="form-style" id="filter-form" style="display: none;">
                <form method="get">
                    {% csrf_token %}
                    {{ filter.form.as_p }}
                    <button class="bright-btn" type="submit">APPLIQUER</button>
                </form>
            </div>
    
            <div class="table-container">
                <table class="invoice-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Nom du Pays</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ville in filter.qs %}
                            <tr class="fade-in" id="ville-info-{{ ville.id }}" onclick="window.location.href='/ville/{{ ville.id }}';" style="cursor: pointer;"> 
                                <td>{{ ville.id }}</td>
                                <td>{{ ville.nom }}</td>
                                <td>{{ ville.nom_pays }}</td>
                                <td>
                                    <div class="actions">
                                        <form method="post" action="{% url 'ville_view' ville.pk %}" style="display:inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" value="Supprimer" class="action-icon"><i class="fa-solid fa-trash"></i></button> 
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
