{% extends "myapp/layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById("update-form");
            const info = document.getElementById("vol-info");
            const button = document.getElementById("update-button");
            button.onclick = () => {
                if (form.style.display == "none") {
                    form.style.setProperty("display", "block");
                    info.style.setProperty("display", "none");
                    button.innerHTML = "Annuler";
                } else {
                    form.style.setProperty("display", "none");
                    info.style.setProperty("display", "block");
                    button.innerHTML = "Modifier";
                }
            }

            const createEscaleButton = document.getElementById("create-escale-button");
            const createEscaleForm = document.getElementById("create-escale-form");
            createEscaleButton.onclick = () => {
                if (createEscaleForm.style.display == "none") {
                    createEscaleForm.style.setProperty("display", "block");
                    createEscaleButton.innerHTML = "Annuler";
                } else {
                    createEscaleForm.style.setProperty("display", "none");
                    createEscaleButton.innerHTML = "Nouvelle Escale";
                }
            }
        })
    </script>
{% endblock %}

{% block body %}
    <h1>Vol ID: {{vol.pk}}</h1>
    <div id="vol-info">
        <p>Avion: {{vol.avion}}</p>
        <p>Départ: {{vol.depart.nom}} à {{vol.heure_depart}}</p>
        <p>Arrivée: {{vol.arrive.nom}}</p>
        <p>Durée: {{vol.duree}}</p>
        <p>Jours: </p>
        <ul>
            {% for jour in vol.jours.all %}
                <li>{{ jour }}</li>
            {% endfor %}
        </ul>
    </div>

    <form style="display: none;" id="update-form" action="{% url 'vol_view' vol.pk %}" method="post">
        {{ updateForm }}
        <input type="submit" value="Modifier Vol">
    </form>

    <button id="update-button">Modifier Vol</button>
    <form method="post" action="{% url 'vol_view' vol.pk %}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Supprimer Vol" />
    </form>

    <h3>Escales :</h3>
    <button id="create-escale-button">Nouvelle Escale</button>
    <form id="create-escale-form" style="display: none" method="post" action="{% url 'create_escale' vol.id %}">
        {{ escaleForm }}
        <input type="submit" value="Créer"/>
    </form>
    {% if not escales %}
        <p>Ce vol n'a pas d'éscales</p>
    {% else %}
    <div id="escales-info">
        <ol>
            {% for esc in escales %}
            <li id="esc-{{esc.pk}}">
                {{ esc }}
                <a href="{% url 'escale' esc.pk %}">Modifier</a>
                <form method="post" action="{% url 'escale' esc.pk %}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Supprimer" />
                </form>
            </li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}

{% endblock %}