{% extends "myapp/layout.html" %}

{% block head %}
    {% if request.user.is_authenticated %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const createForm = document.getElementById('create-vol-form');
            const createFormButton = document.getElementById('create-vol-button');
            createFormButton.onclick = () => {
                if (createForm.style.display === "none") {
                    createForm.style.display = "grid";
                    createFormButton.innerHTML = "ANNULER";
                } else {
                    createForm.style.display = "none";
                    createFormButton.innerHTML = '<i class="fas fa-plus"></i> AJOUTER';
                }
            }

            const filterForm = document.getElementById('filter-form');
            const filterButton = document.getElementById('filter-button');
            filterButton.onclick = () => {
                if (filterForm.style.display === "none") {
                    filterForm.style.display = "grid";
                    filterButton.innerHTML = "MASQUER";
                } else {
                    filterForm.style.display = "none";
                    filterButton.innerHTML = "<i class='fas fa-filter'></i> FILTRER";
                }
            }
        });
    </script>
    {% else %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const filterForm = document.getElementById('filter-form');
            const filterButton = document.getElementById('filter-button');
            filterButton.onclick = () => {
                if (filterForm.style.display === "none") {
                    filterForm.style.display = "grid";
                    filterButton.innerHTML = "MASQUER";
                } else {
                    filterForm.style.display = "none";
                    filterButton.innerHTML = "<i class='fas fa-filter'></i> FILTRER";
                }
            }
        });
    </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="content-container">
            <!-- Buttons Container -->
            <div class="btn-container">
                {% if request.user.is_authenticated %}
                <button class="btn btn-add bright-btn" id="create-vol-button">
                    <i class="fas fa-plus"></i> AJOUTER
                </button>
                {% endif %}
                <button class="btn btn-filter" id="filter-button">
                    <i class="fas fa-filter"></i> FILTRER
                </button>
            </div>
            
            <!-- Ajouter Vol Form -->
            {% if request.user.is_authenticated %}
            <div class="form-style" id="create-vol-form" style="display: none;">
                <form method="post" action="{% url 'vol' %}">
                    {% csrf_token %}
                    {{ createForm.as_p }}
                    <button class="bright-btn" type="submit">AJOUTER</button>
                </form>
            </div>
            {% endif %}
            
            <!-- Filtrer Vol Form -->
            <div class="form-style" id="filter-form" style="display: none;">
                <form method="get">
                    {{ filter.form.as_p }}
                    <button class="bright-btn" type="submit">APPLIQUER</button>
                </form>
            </div>
    
            <!-- Vols Table -->
            <div class="table-container">
                <table class="invoice-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Départ</th>
                            <th>Arrivé</th>
                            <th>Durée</th>
                            <th>Jours</th>
                            {% if request.user.is_authenticated %}
                            <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for vol in filter.qs %}
                            {% if request.user.is_authenticated or not vol.avion.est_interdit %}
                            <tr class="fade-in {%if vol.avion.est_interdit%}interdit{%endif%}" id="vol-info-{{ vol.id }}" onclick="window.location.href='/vol/{{ vol.id }}';" style="cursor: pointer;">
                                <td>{{ vol.id }}</td>
                                <td>{{ vol.depart.nom }} à {{ vol.heure_depart }}</td>
                                <td>{{ vol.arrive.nom }}</td>
                                <td>{{ vol.duree }}</td>
                                <td>{% for jour in vol.jours.all %}
                                    {{ jour }}
                                {% endfor %}</td>
                                {% if request.user.is_authenticated %}
                                <td>
                                    <div class="actions">
                                        <form method="post" action="{% url 'vol_view' vol.pk %}" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" value="Supprimer" class="action-icon"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
