{% extends "myapp/layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const createForm = document.getElementById('create-vol-form');
            const createFormButton = document.getElementById('create-vol-button');
            createFormButton.onclick = () => {
                if (createForm.style.display === "none") {
                    createForm.style.display = "grid";
                    createFormButton.textContent = "Annuler";
                } else {
                    createForm.style.display = "none";
                    createFormButton.textContent = "Ajouter un vol";
                }
            }

            const filterForm = document.getElementById('filter-form');
            const filterButton = document.getElementById('filter-button');
            filterButton.onclick = () => {
                if (filterForm.style.display === "none") {
                    filterForm.style.display = "grid";
                    filterButton.textContent = "Masquer le filtre";
                } else {
                    filterForm.style.display = "none";
                    filterButton.textContent = "Filtrer les vols";
                }
            }
        });
    </script>    
{% endblock %}

{% block body %}
    <div class="container form-container form">
        {% if request.user.is_authenticated %}
        <!-- Ajouter Vol Form -->
        <div class="card fade-in">
            <button id="create-vol-button">Ajouter un vol</button>
            <form id="create-vol-form" style="display: none;" method="post" action="{% url 'vol' %}">
                {% csrf_token %}
                {{ createForm.as_p }}
                <button type="submit">Ajouter</button>
            </form>
        </div>

        <!-- Filtrer Vol Form -->
        <div class="card fade-in">
            <button id="filter-button">Filtrer les vols</button>
            <form id="filter-form" style="display: none;" method="get">
                {{ filter.form.as_p }}
                <button type="submit">Appliquer le filtre</button>
            </form>
        </div>

        <div class="card fade-in">
            <form action="{% url 'vol' %}" method="get">
                <button type="submit">Annuler le filtre</button>
            </form>
        </div>
        {% endif %}

        <div class="card fade-in table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Départ</th>
                        <th>Arrivé</th>
                        <th>Durée</th>
                        <th>Jours</th>
                        {% if request.user.is_authenticated %}<th>Actions</th>{%endif%}
                    </tr>
                </thead>
                <tbody>
                    {% for vol in filter.qs %}
                        <tr class="fade-in {%if vol.avion.est_interdit%}interdit{%endif%}" 
                        id="vol-info-{{ vol.id }}" onclick="window.location.href='/vol/{{ vol.id }}';" style="cursor: pointer;">
                            <td>{{ vol.id }}</td>
                            <td>{{ vol.depart.nom }} à {{ vol.heure_depart }}</td>
                            <td>{{ vol.arrive.nom }}</td>
                            <td>{{ vol.duree }}</td>
                            <td>{% for jour in vol.jours.all %}
                                {{ jour }}
                            {% endfor %}</td>
                            {% if request.user.is_authenticated %}
                            <td>
                                <form method="post" action="{% url 'vol_view' vol.pk %}" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" value="Supprimer" class="delete-btn">
                                </form>
                            </td>
                            {%endif%}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}